In [44]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import OneHotEncoder

In [45]:
df=pd.read_csv("/home/electron/Documents/GitHub/TripSync_Ai/indian_travel_destinations_enhanced.csv")

In [46]:
popularity_map = {'Offbeat': 1, 'Medium': 2, 'High': 3}
df['popularity_rank'] = df['popularity'].map(popularity_map).astype('Int64')

In [47]:
df.head()

,place,state,tags,avg_cost_per_day,trip_duration,best_for,season,climate,popularity,popularity_rank
0,Manali,Himachal Pradesh,"mountains,nature,adventure",1500,5,"friends, couples, family","mar,apr,may,jun,oct,nov",Cold,High,3
1,Shimla,Himachal Pradesh,"mountains,heritage,nature",1400,3,"family, couples","mar,apr,may,jun,oct,nov",Cold,Medium,2
2,Dharamshala,Himachal Pradesh,"mountains,spiritual,nature",1200,3,"solo, couples","mar,apr,may,sep,oct,nov",Cold,Medium,2
3,McLeod Ganj,Himachal Pradesh,"mountains,spiritual",1000,3,solo,"mar,apr,may,sep,oct,nov",Cold,Medium,2
4,Kasol,Himachal Pradesh,"mountains,nature",800,3,"friends, solo","mar,apr,may,jun,sep,oct",Cold,Medium,2

In [48]:
def split_column(col):
    return col.str.lower().str.split(",")

df["tags"] = split_column(df["tags"])
df["season"] = split_column(df["season"])
df["best_for"] = split_column(df["best_for"])

In [49]:
df

,place,state,tags,avg_cost_per_day,trip_duration,best_for,season,climate,popularity,popularity_rank
0,Manali,Himachal Pradesh,"[mountains, nature, adventure]",1500,5,"[friends, couples, family]","[mar, apr, may, jun, oct, nov]",Cold,High,3
1,Shimla,Himachal Pradesh,"[mountains, heritage, nature]",1400,3,"[family, couples]","[mar, apr, may, jun, oct, nov]",Cold,Medium,2
2,Dharamshala,Himachal Pradesh,"[mountains, spiritual, nature]",1200,3,"[solo, couples]","[mar, apr, may, sep, oct, nov]",Cold,Medium,2
3,McLeod Ganj,Himachal Pradesh,"[mountains, spiritual]",1000,3,[solo],"[mar, apr, may, sep, oct, nov]",Cold,Medium,2
4,Kasol,Himachal Pradesh,"[mountains, nature]",800,3,"[friends, solo]","[mar, apr, may, jun, sep, oct]",Cold,Medium,2
...,...,...,...,...,...,...,...,...,...,...
260,Gopalpur,Odisha,"[beach, peaceful, offbeat, heritage]",1100,3,"[peaceful, beach, offbeat]","[oct, nov, dec, jan, feb, mar]",Tropical,Offbeat,1
261,Chandipur,Odisha,"[beach, offbeat, nature]",1000,3,"[offbeat, nature, beach]","[oct, nov, dec, jan, feb, mar]",Tropical,Offbeat,1
262,Bhitarkanika,Odisha,[nature],1500,3,"[wildlife, nature, offbeat]","[oct, nov, dec, jan, feb]",Moderate,Medium,2
263,Simlipal,Odisha,"[nature, waterfalls]",1600,3,"[wildlife, nature, offbeat]","[nov, dec, jan, feb, mar]",Moderate,Medium,2
264,Dehradun,Uttarakhand,"[mountains, nature]",1200,3,"[family, couples]","[mar, apr, may, sep, oct, nov]",Cold,Medium,2