In [1]:
import pandas as pd

In [2]:
df = pd.read_json("./data.json")

In [5]:
df

,place,country,tags,avg_cost_per_day,trip_duration,best_for,season,climate,popularity
0,Cape Town,South Africa,"[culture, nature, beach, mountains, food, nigh...",4000,5,"[friends, couples, family, solo]","[sep, oct, nov, mar, apr]",Mediterranean,Very High
1,Kruger National Park,South Africa,"[safari, nature, wildlife, adventure, camping,...",4500,4,"[family, friends, couples]","[may, jun, jul, aug, sep]",Savanna,Very High
2,Garden Route,South Africa,"[nature, beach, adventure, forest, lakes, whal...",3500,5,"[family, couples, friends]","[jun, jul, aug, sep, oct]",Oceanic,High
3,Durban,South Africa,"[beach, culture, food, nightlife, water-sports...",3000,3,"[friends, family, couples]","[jun, jul, dec, jan]",Subtropical,High
4,Cairo,Egypt,"[history, heritage, culture, spiritual, nightl...",2500,4,"[friends, solo, family]","[oct, nov, feb, mar, apr]",Desert,Very High
...,...,...,...,...,...,...,...,...,...
1663,Myeik Archipelago,Myanmar,"[islands, diving, remote, adventure, sailing, ...",4000,5,"[adventure, divers, luxury]","[nov, dec, jan, feb, mar, apr]",Tropical,Low
1664,Naypyidaw,Myanmar,"[city, capital, empty, architecture, offbeat, ...",2000,1,"[curious, offbeat, transit]","[nov, dec, jan, feb]",Tropical,Low
1665,Jaco Island,Timor-Leste,"[beach, pristine, nature, remote, day-trip, sa...",2500,1,"[adventure, nature, day-trippers]","[may, jun, jul, aug, sep]",Tropical,Low
1666,Baucau,Timor-Leste,"[colonial, history, pool, culture, nature, pea...",2000,2,"[history, culture, relax]","[may, jun, jul, aug, sep]",Tropical,Low
1667,Kuala Belait,Brunei,"[oil, monument, river, quiet, local, offbeat, ...",2200,1,"[transit, offbeat, history]","[feb, mar, apr]",Tropical,Low