In [2]:
import pandas as pd

In [3]:
df = pd.read_json("./africa.json")

In [4]:
df

,place,country,tags,avg_cost_per_day,trip_duration,best_for,season,climate,popularity
0,Cape Town,South Africa,"[culture, nature, beach, mountains, food, nigh...",4000,5,"[friends, couples, family, solo]","[sep, oct, nov, mar, apr]",Mediterranean,Very High
1,Kruger National Park,South Africa,"[safari, nature, wildlife, adventure, camping,...",4500,4,"[family, friends, couples]","[may, jun, jul, aug, sep]",Savanna,Very High
2,Garden Route,South Africa,"[nature, beach, adventure, forest, lakes, whal...",3500,5,"[family, couples, friends]","[jun, jul, aug, sep, oct]",Oceanic,High
3,Durban,South Africa,"[beach, culture, food, nightlife, water-sports...",3000,3,"[friends, family, couples]","[jun, jul, dec, jan]",Subtropical,High
4,Cairo,Egypt,"[history, heritage, culture, spiritual, nightl...",2500,4,"[friends, solo, family]","[oct, nov, feb, mar, apr]",Desert,Very High
...,...,...,...,...,...,...,...,...,...
131,Augrabies Falls,South Africa,"[waterfalls, nature, desert, scenic, adventure...",2500,2,"[nature, photographers, family]","[apr, may, sep]",Dry,Medium
132,Kgalagadi Transfrontier Park,South Africa,"[safari, desert, wildlife, lions, camping, rem...",3500,4,"[safari, adventure, nature]","[may, jun, jul, aug]",Dry,Medium
133,Saly,Senegal,"[beach, resorts, relax, sun, water-sports, tou...",2800,3,"[relax, beach, family]","[nov, dec, jan, feb]",Tropical,High
134,Lake Bunyonyi,Uganda,"[lake, scenic, relax, swimming, islands, peace...",2000,2,"[relax, couples, backpackers]","[jan, feb, jun, jul]",Highland,Medium
135,Asmara,Eritrea,"[architecture, history, heritage, city, art-de...",2500,2,"[history, architecture, offbeat]","[oct, nov, dec, jan]",Highland,Low